#    ___        _____    ___   ___ ___ ___ 
#   | __|_ ____|_   _|__| _ \ | _ ) _ )_  )
#   | _|\ \ / _ \| |/ -_)   / | _ \ _ \/ / 
#   |___/_\_\___/|_|\___|_|_\ |___/___/___|
#                                          
--- name:exoter_bb2
# gaussian kernel for dense stereo pre-processing.
gaussian_kernel: 0
# if set to true, the input images are assumed to already be rectified.
image_rectified: false
# if set to true, the input images are assumed to be rotated by 180 degrees.
image_rotated: false
# down- or upscale input images by this factor.
image_scaling_factor: 1.0
# frame mode format of the output sync frames
#output_format_sync: :MODE_RGB # FIXME: Not in master branch. What does it do?
# configuration values for libElas
libElas_conf:
  disp_min: 0
  disp_max: 350
  support_threshold: 0.8500000238418579
  support_texture: 10
  candidate_stepsize: 5
  incon_window_size: 5
  incon_threshold: 5
  incon_min_support: 5
  add_corners: true
  grid_size: 20
  beta: 0.019999999552965164
  gamma: 3.0
  sigma: 1.0
  sradius: 2.0
  match_texture: 1
  lr_threshold: 2
  speckle_sim_threshold: 1.0
  speckle_size: 200
  ipol_gap_width: 3
  filter_median: false
  filter_adaptive_mean: true
  postprocess_only_left: true
  subsampling: false
# configuration for sparse features.
sparse_config:
  debugImage: true
  targetNumFeatures: 100
  maxStereoYDeviation: 5
  knn: 1
  distanceFactor: 2
  isometryFilterMaxSteps: 1000
  isometryFilterThreshold: 0.1
  adaptiveDetectorParam: false
  detectorConfig:
    SURFparam: 170
    goodParam: 0.10000000149011612
    mserParam: 3.0
    starParam: 9.0
    fastParam: 12.0
  descriptorType: :DESCRIPTOR_PSURF
  detectorType: :DETECTOR_MSER
  filterType: :FILTER_STEREO
# calibration parameters for stereo camera setup
stereoCameraCalibration:
  camLeft:
    fx: 840.919396
    fy: 843.876013
    cx: 517.845770
    cy: 379.251908
    d0: -0.348848 
    d1: 0.139364 
    d2: -0.000173 
    d3: -0.000284
    width: 1024
    height: 768
  camRight:
    fx: 835.429210
    fy: 838.788617
    cx: 507.897115
    cy: 381.645570
    d0: -0.351098 
    d1: 0.139501 
    d2: 0.000350 
    d3: -0.000483
    width: 1024
    height: 768
#Distance between left and right camera
  extrinsic:
    tx: -120.42072407397772
    ty: 0.5734647751856973
    tz: -2.598275067303107
    rx: 0.0030362424497703553
    ry: 0.008216107727968488
    rz: -0.0005449859535995445

#    _  _ ___  ___ ___   ___ ___ ___ 
#   | || |   \| _ \ _ \ | _ ) _ )_  )
#   | __ | |) |  _/   / | _ \ _ \/ / 
#   |_||_|___/|_| |_|_\ |___/___/___|
#                                    
--- name:hdpr_bb2
# gaussian kernel for dense stereo pre-processing.
gaussian_kernel: 0
# if set to true, the input images are assumed to already be rectified.
image_rectified: false
# if set to true, the input images are assumed to be rotated by 180 degrees.
image_rotated: false
# down- or upscale input images by this factor.
image_scaling_factor: 1.0
# frame mode format of the output sync frames
#output_format_sync: :MODE_RGB # FIXME: Not in master branch. What does it do?
# configuration values for libElas
libElas_conf:
  disp_min: 5
  disp_max: 350
  support_threshold: 0.8500000238418579
  support_texture: 10
  candidate_stepsize: 5
  incon_window_size: 5
  incon_threshold: 5
  incon_min_support: 5
  add_corners: false
  grid_size: 20
  beta: 0.019999999552965164
  gamma: 3.0
  sigma: 1.0
  sradius: 2.0
  match_texture: 1
  lr_threshold: 2
  speckle_sim_threshold: 1.0
  speckle_size: 200
  ipol_gap_width: 3
  filter_median: false
  filter_adaptive_mean: true
  postprocess_only_left: true
  subsampling: false
# configuration for sparse features.
sparse_config:
  debugImage: true
  targetNumFeatures: 100
  maxStereoYDeviation: 5
  knn: 1
  distanceFactor: 2
  isometryFilterMaxSteps: 1000
  isometryFilterThreshold: 0.1
  adaptiveDetectorParam: false
  detectorConfig:
    SURFparam: 170
    goodParam: 0.10000000149011612
    mserParam: 3.0
    starParam: 9.0
    fastParam: 12.0
  descriptorType: :DESCRIPTOR_PSURF
  detectorType: :DETECTOR_MSER
  filterType: :FILTER_STEREO
# calibration parameters for stereo camera setup
stereoCameraCalibration:
  camLeft:
    fx: 837.253850
    fy: 838.490409
    cx: 500.836269
    cy: 396.129781
    d0: -0.350699 
    d1: 0.143871 
    d2: 0.000772 
    d3: 0.000436
    width: 1024
    height: 768
  camRight:
    fx: 840.576003
    fy: 839.660192
    cx: 486.582638
    cy: 390.268319
    d0: -0.349734 
    d1: 0.140961 
    d2: 0.000373 
    d3: 0.000030
    width: 1024
    height: 768
#Distance between left and right camera
  extrinsic:
    tx: -121.85240164807148
    ty: 0.1948076202153522
    tz: -0.39816877115110094
    rx: -0.00012901913800443746
    ry: -0.0038610733653918344
    rz: -0.0033187483729531205

#    _  _ ___  ___ ___   ___ ___  ___ 
#   | || |   \| _ \ _ \ | _ ) _ )|__ /
#   | __ | |) |  _/   / | _ \ _ \ |_ \
#   |_||_|___/|_| |_|_\ |___/___/|___/
#                                    
--- name:bb3_left_right
# gaussian kernel for dense stereo pre-processing.
gaussian_kernel: 0
# if set to true, the input images are assumed to already be rectified.
image_rectified: false
# if set to true, the input images are assumed to be rotated by 180 degrees.
image_rotated: false
# down- or upscale input images by this factor.
image_scaling_factor: 1.0
# frame mode format of the output sync frames
#output_format_sync: :MODE_RGB # FIXME: Not in master branch. What does it do?
# configuration values for libElas
libElas_conf:
  disp_min: 5
  disp_max: 350
  support_threshold: 0.8500000238418579
  support_texture: 10
  candidate_stepsize: 5
  incon_window_size: 5
  incon_threshold: 5
  incon_min_support: 5
  add_corners: false
  grid_size: 20
  beta: 0.019999999552965164
  gamma: 3.0
  sigma: 1.0
  sradius: 2.0
  match_texture: 1
  lr_threshold: 2
  speckle_sim_threshold: 1.0
  speckle_size: 200
  ipol_gap_width: 3
  filter_median: false
  filter_adaptive_mean: true
  postprocess_only_left: true
  subsampling: false
# configuration for sparse features.
sparse_config:
  debugImage: true
  targetNumFeatures: 100
  maxStereoYDeviation: 5
  knn: 1
  distanceFactor: 2
  isometryFilterMaxSteps: 1000
  isometryFilterThreshold: 0.1
  adaptiveDetectorParam: false
  detectorConfig:
    SURFparam: 170
    goodParam: 0.10000000149011612
    mserParam: 3.0
    starParam: 9.0
    fastParam: 12.0
  descriptorType: :DESCRIPTOR_PSURF
  detectorType: :DETECTOR_MSER
  filterType: :FILTER_STEREO
# calibration parameters for stereo camera setup
stereoCameraCalibration:
  camLeft:
    fx: 1624.646083
    fy: 1629.037008
    cx: 633.800760
    cy: 489.614872
    d0: -0.604146 
    d1: 0.401654 
    d2: -0.001994 
    d3: 0.003990
    width: 1280
    height: 960
  camRight:
    fx: 1627.389284
    fy: 1633.379840
    cx: 633.317893
    cy: 480.556435
    d0: -0.598055 
    d1: 0.338903 
    d2: 0.000444 
    d3: 0.000194
    width: 1280
    height: 960
#Distance between left and right camera
  extrinsic:
    tx: -240.37193737377605
    ty: 0.15542502111371218
    tz: 1.9883483835813364
    rx: -0.0016287943766269402
    ry: -0.004041036918197464
    rz: -0.002904763256983732

#    ___           ___            
#   | _ \__ _ _ _ / __|__ _ _ __  
#   |  _/ _` | ' \ (__/ _` | '  \ 
#   |_| \__,_|_||_\___\__,_|_|_|_|
#                                 
--- name:panCam
# gaussian kernel for dense stereo pre-processing.
gaussian_kernel: 0
# if set to true, the input images are assumed to already be rectified.
image_rectified: false
# if set to true, the input images are assumed to be rotated by 180 degrees.
image_rotated: false
# down- or upscale input images by this factor.
image_scaling_factor: 1.0
# configuration values for libElas
libElas_conf:
  disp_min: 5
  disp_max: 350
  support_threshold: 0.8500000238418579
  support_texture: 10
  candidate_stepsize: 5
  incon_window_size: 5
  incon_threshold: 5
  incon_min_support: 5
  add_corners: false
  grid_size: 20
  beta: 0.019999999552965164
  gamma: 3.0
  sigma: 1.0
  sradius: 2.0
  match_texture: 1
  lr_threshold: 2
  speckle_sim_threshold: 1.0
  speckle_size: 200
  ipol_gap_width: 3
  filter_median: false
  filter_adaptive_mean: true
  postprocess_only_left: true
  subsampling: false
# configuration for sparse features.
sparse_config:
  debugImage: true
  targetNumFeatures: 100
  maxStereoYDeviation: 5
  knn: 1
  distanceFactor: 2
  isometryFilterMaxSteps: 1000
  isometryFilterThreshold: 0.1
  adaptiveDetectorParam: false
  detectorConfig:
    SURFparam: 170
    goodParam: 0.10000000149011612
    mserParam: 3.0
    starParam: 9.0
    fastParam: 12.0
  descriptorType: :DESCRIPTOR_PSURF
  detectorType: :DETECTOR_MSER
  filterType: :FILTER_STEREO
# calibration parameters for stereo camera setup
stereoCameraCalibration:
  camLeft:
    fx: 1417.117571
    fy: 1421.055152
    cx: 636.109569
    cy: 480.176346
    d0: -0.259558
    d1: 0.194860
    d2: 0.000789
    d3: -0.000656
    width: 1280
    height: 960
    ex: 0.0
    ey: 0.0
  camRight:
    fx: 1419.980619
    fy: 1426.494293
    cx: 649.447031
    cy: 488.635033
    d0: -0.257726
    d1: 0.220779   
    d2: -0.000863   
    d3: -0.002113
    width: 1280
    height: 960
    ex: 0.0
    ey: 0.0
  extrinsic:
    tx: -500.8184313932927
    ty: 0.39280779981765417 
    tz: 5.131085608135725
    rx: -0.003021048907437488
    ry: -0.005721207821239068  
    rz: 0.0002324122262616279
